*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Roboto', 'Noto sans TC', sans-serif;
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 80px;
  line-height: 95px;
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #000;
}

.subTitle {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
}

.subTitle::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #000;
}

.subTitle span {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  color: #a00404;
  padding-left: 16px;
}

.describe-list {
  font-weight: 300;
  line-height: 1.5;
}

.subTitle-white {
  color: #fff;
  font-weight: 500;
  justify-content: center;
  position: relative;
}

.subTitle-white::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #fff;
}

.subTitle-white span {
  color: #fff;
}
.skills .container {
  width: 996px;
}
.skills-list {
  width: 224px;
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
}

.experience-list {
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
}

.experience-list li {
  width: 642px;
}

.experience-list h3 {
  font-weight: 500;
}

.experience-list p {
  font-size: 20px;
  font-weight: 300;
}
