*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Roboto', 'Noto sans TC', sans-serif;
  font-weight: 400;
}

.title {
  font-size: 80px;
  line-height: 95px;
  border-bottom: 2px solid #000;
}
